.post-type-ckrs-augmentation .fixed .column-code {
    width: 10%;
}


.ckrs-metabox {
    margin-top: -6px;
}

.ckrs-metabox main, .ckrs-metabox aside {
    margin: 1em 0;
}
.ckrs-metabox::after {
    clear: both;
    display: block;
    content: "";
}

.ckrs-metabox aside {
    float: left;
    width: 20%;
}
.ckrs-metabox aside label {
    position: relative;
    z-index: 2;
    font-weight: bold;
}
.ckrs-metabox section::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    background: #F9F9F9;
    border-color: #E1E1E1;
    border-style: solid;
    border-width: 0 1px 0 0;
    top: 0;
    bottom: 0;
    left: 0;
    width: 20%;
}

.ckrs-metabox main {
    float: left;
    width: 80%;
}
.ckrs-metabox main input,
.ckrs-metabox main textarea {
    width: 100%;
}
